{% extends "layout.html" %} {% block title %}Change Password{% endblock %} {%
block content %}
<div class="border rounded p-4">
  <h3 class="mb-4">Change Password</h3>
  <form method="POST" novalidate>
    {{ form.hidden_tag() }}
    <!-- Current password -->
    <div class="mb-3">
      {{ form.old_password.label(class="form-label") }} {{
      form.old_password(class="form-control", placeholder="Enter current
      password") }}
    </div>
    <!-- New password -->
    <div class="mb-3">
      {{ form.new_password.label(class="form-label") }} {{
      form.new_password(class="form-control", placeholder="Enter new password")
      }}
    </div>
    <!-- Confirm new password -->
    <div class="mb-3">
      {{ form.confirm_password.label(class="form-label") }} {{
      form.confirm_password(class="form-control", placeholder="Confirm new
      password") }}
    </div>
    <!-- Submit button -->
    <div class="mb-3 pt-3">{{ form.submit(class="btn btn-success") }}</div>
  </form>
</div>
{% endblock %}